<h1>Detail Product</h1>
<div id="responseFetch"></div>
<div id="cartUserID" cartUserID={{cartUserID}} style="display: none;"></div>


<h2>Producto: {{product.product.title}} </h2>
<h3>Descripcion: {{product.product.description}} </h3>
<h1 style="color: green;">Precio: {{product.product.price}} </h1>
<button id="btnIdProduct" data-product-id="{{product.product._id}}">Agregar a Carrito</button>


 <script src="/js/productDetail.js"></script>
