<h1>Perfil</h1>
{{#if message}}
<div style="background-color: green;">
    <h2>{{message}} </h2>
</div>
{{/if}}
{{#if warning}}
<div style="background-color:yellow;">
    <h2>{{warning}} </h2>
</div>
{{/if}}
{{#if error}}
<div style="background-color: red;">
    <h2>{{error}} </h2>
</div>
{{/if}}

Nombre de usuario: {{user.first_name}} <br>
Email Registrado: {{user.email}} <br>
rol: {{user.role}} <br>
Client ID: {{user._id}}

<br><br>
<button> <a href="/changeRole">Cambiar Rol</a></button>
<button onclick="logout()">Cerrar Sesion</button>

{{>navegation1}} {{>navegation2}}


<script>
    function logout(){
        window.location.href = '/api/sessions/logout'
    }
</script>